# Salesforce / SFDX
.sfdx/
.sf/
.localdevserver/

# Node
node_modules/

# Build / coverage output
dist/
coverage/
test-result*.json
test-result*.xml

# Lock files
package-lock.json
yarn.lock

# Generated package metadata
package.xml
