{
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": true,
  "printWidth": 120,
  "plugins": ["prettier-plugin-apex"],
  "overrides": [
    {
      "files": "*.{cls,trigger,apex}",
      "options": {
        "tabWidth": 4,
        "useTabs": true
      }
    },
    {
      "files": "*.{json,yml,yaml}",
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    },
    {
      "files": "*.md",
      "options": {
        "useTabs": false,
        "tabWidth": 2,
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.xml",
      "options": {
        "useTabs": false,
        "tabWidth": 4
      }
    }
  ]
}
